.classpath
.project
.settings
.gitattributes
/target/
.mvn/wrapper/maven-wrapper.properties
HELP.md
mvnw
mvnw.cmd
src/main/java/com/tibiadata/tibia_crawler/Main.java
src/main/java/com/tibiadata/tibia_crawler/Main2.java
src/main/java/com/tibiadata/tibia_crawler/Main3.java
