.classpath
.project
.settings
.gitattributes
/target/
.mvn/wrapper/maven-wrapper.properties
HELP.md
mvnw
mvnw.cmd
src/main/java/com/tibiadata/tibia_crawler/model/connections/Main.java
src/main/java/com/tibiadata/tibia_crawler/model/connections/Main2.java
src/main/java/com/tibiadata/tibia_crawler/model/connections/Main3.java
src/main/java/com/tibiadata/tibia_crawler/model/connections/Main4.java
